<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.wechat.mapper.AccountWechatMapper">
    
    <resultMap type="AccountWechat" id="AccountWechatResult">
        <result property="wechatId"    column="wechat_id"    />
        <result property="name"    column="name"    />
        <result property="account"    column="account"    />
        <result property="original"    column="original"    />
        <result property="appKey"    column="app_key"    />
        <result property="appSecret"    column="app_secret"    />
        <result property="token"    column="token"    />
        <result property="encodingaeskey"    column="encodingAesKey"    />
        <result property="level"    column="level"    />
        <result property="country"    column="country"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="authRefreshToken"    column="auth_refresh_token"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAccountWechatVo">
        select wechat_id, name, account, original, app_key, app_secret, token, encodingAesKey, level, country, province, city, auth_refresh_token, status, del_flag, create_by, create_time, update_by, update_time from account_wechat
    </sql>

    <select id="selectAccountWechatList" parameterType="AccountWechat" resultMap="AccountWechatResult">
        <include refid="selectAccountWechatVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="account != null  and account != ''"> and account = #{account}</if>
            <if test="original != null  and original != ''"> and original = #{original}</if>
            <if test="appKey != null  and appKey != ''"> and app_key = #{appKey}</if>
            <if test="appSecret != null  and appSecret != ''"> and app_secret = #{appSecret}</if>
            <if test="token != null  and token != ''"> and token = #{token}</if>
            <if test="encodingaeskey != null  and encodingaeskey != ''"> and encodingAesKey = #{encodingaeskey}</if>
            <if test="level != null "> and level = #{level}</if>
            <if test="country != null  and country != ''"> and country = #{country}</if>
            <if test="province != null  and province != ''"> and province = #{province}</if>
            <if test="city != null  and city != ''"> and city = #{city}</if>
            <if test="authRefreshToken != null  and authRefreshToken != ''"> and auth_refresh_token = #{authRefreshToken}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectAccountWechatById" parameterType="Long" resultMap="AccountWechatResult">
        <include refid="selectAccountWechatVo"/>
        where wechat_id = #{wechatId}
    </select>
        
    <insert id="insertAccountWechat" parameterType="AccountWechat" useGeneratedKeys="true" keyProperty="wechatId">
        insert into account_wechat
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="account != null and account != ''">account,</if>
            <if test="original != null and original != ''">original,</if>
            <if test="appKey != null and appKey != ''">app_key,</if>
            <if test="appSecret != null and appSecret != ''">app_secret,</if>
            <if test="token != null and token != ''">token,</if>
            <if test="encodingaeskey != null and encodingaeskey != ''">encodingAesKey,</if>
            <if test="level != null">level,</if>
            <if test="country != null and country != ''">country,</if>
            <if test="province != null and province != ''">province,</if>
            <if test="city != null and city != ''">city,</if>
            <if test="authRefreshToken != null and authRefreshToken != ''">auth_refresh_token,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="account != null and account != ''">#{account},</if>
            <if test="original != null and original != ''">#{original},</if>
            <if test="appKey != null and appKey != ''">#{appKey},</if>
            <if test="appSecret != null and appSecret != ''">#{appSecret},</if>
            <if test="token != null and token != ''">#{token},</if>
            <if test="encodingaeskey != null and encodingaeskey != ''">#{encodingaeskey},</if>
            <if test="level != null">#{level},</if>
            <if test="country != null and country != ''">#{country},</if>
            <if test="province != null and province != ''">#{province},</if>
            <if test="city != null and city != ''">#{city},</if>
            <if test="authRefreshToken != null and authRefreshToken != ''">#{authRefreshToken},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAccountWechat" parameterType="AccountWechat">
        update account_wechat
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="account != null and account != ''">account = #{account},</if>
            <if test="original != null and original != ''">original = #{original},</if>
            <if test="appKey != null and appKey != ''">app_key = #{appKey},</if>
            <if test="appSecret != null and appSecret != ''">app_secret = #{appSecret},</if>
            <if test="token != null and token != ''">token = #{token},</if>
            <if test="encodingaeskey != null and encodingaeskey != ''">encodingAesKey = #{encodingaeskey},</if>
            <if test="level != null">level = #{level},</if>
            <if test="country != null and country != ''">country = #{country},</if>
            <if test="province != null and province != ''">province = #{province},</if>
            <if test="city != null and city != ''">city = #{city},</if>
            <if test="authRefreshToken != null and authRefreshToken != ''">auth_refresh_token = #{authRefreshToken},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where wechat_id = #{wechatId}
    </update>

    <delete id="deleteAccountWechatById" parameterType="Long">
        delete from account_wechat where wechat_id = #{wechatId}
    </delete>

    <delete id="deleteAccountWechatByIds" parameterType="String">
        delete from account_wechat where wechat_id in 
        <foreach item="wechatId" collection="array" open="(" separator="," close=")">
            #{wechatId}
        </foreach>
    </delete>
    
</mapper>