<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.wechat.mapper.WechatAccountMapper">
    
    <resultMap type="WechatAccount" id="WechatAccountResult">
        <result property="wechatId"    column="wechat_id"    />
        <result property="name"    column="name"    />
        <result property="account"    column="account"    />
        <result property="original"    column="original"    />
        <result property="appKey"    column="app_key"    />
        <result property="appSecret"    column="app_secret"    />
        <result property="token"    column="token"    />
        <result property="encodingaeskey"    column="encodingAesKey"    />
        <result property="level"    column="level"    />
        <result property="country"    column="country"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="authRefreshToken"    column="auth_refresh_token"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectWechatAccountVo">
        select wechat_id, name, account, original, app_key, app_secret, token, encodingAesKey, level, country, province, city, auth_refresh_token, status, del_flag, create_by, create_time, update_by, update_time from wechat_account
    </sql>

    <select id="selectWechatAccountList" parameterType="WechatAccount" resultMap="WechatAccountResult">
        <include refid="selectWechatAccountVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="level != null "> and level = #{level}</if>
        </where>
    </select>
    
    <select id="selectWechatAccountById" parameterType="Long" resultMap="WechatAccountResult">
        <include refid="selectWechatAccountVo"/>
        where wechat_id = #{wechatId}
    </select>
        
    <insert id="insertWechatAccount" parameterType="WechatAccount">
        insert into wechat_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="wechatId != null">wechat_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="account != null">account,</if>
            <if test="original != null">original,</if>
            <if test="appKey != null and appKey != ''">app_key,</if>
            <if test="appSecret != null and appSecret != ''">app_secret,</if>
            <if test="token != null and token != ''">token,</if>
            <if test="encodingaeskey != null and encodingaeskey != ''">encodingAesKey,</if>
            <if test="level != null">level,</if>
            <if test="country != null">country,</if>
            <if test="province != null">province,</if>
            <if test="city != null">city,</if>
            <if test="authRefreshToken != null">auth_refresh_token,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="wechatId != null">#{wechatId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="account != null">#{account},</if>
            <if test="original != null">#{original},</if>
            <if test="appKey != null and appKey != ''">#{appKey},</if>
            <if test="appSecret != null and appSecret != ''">#{appSecret},</if>
            <if test="token != null and token != ''">#{token},</if>
            <if test="encodingaeskey != null and encodingaeskey != ''">#{encodingaeskey},</if>
            <if test="level != null">#{level},</if>
            <if test="country != null">#{country},</if>
            <if test="province != null">#{province},</if>
            <if test="city != null">#{city},</if>
            <if test="authRefreshToken != null">#{authRefreshToken},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateWechatAccount" parameterType="WechatAccount">
        update wechat_account
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="account != null">account = #{account},</if>
            <if test="original != null">original = #{original},</if>
            <if test="appKey != null and appKey != ''">app_key = #{appKey},</if>
            <if test="appSecret != null and appSecret != ''">app_secret = #{appSecret},</if>
            <if test="token != null and token != ''">token = #{token},</if>
            <if test="encodingaeskey != null and encodingaeskey != ''">encodingAesKey = #{encodingaeskey},</if>
            <if test="level != null">level = #{level},</if>
            <if test="country != null">country = #{country},</if>
            <if test="province != null">province = #{province},</if>
            <if test="city != null">city = #{city},</if>
            <if test="authRefreshToken != null">auth_refresh_token = #{authRefreshToken},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where wechat_id = #{wechatId}
    </update>

    <delete id="deleteWechatAccountById" parameterType="Long">
        delete from wechat_account where wechat_id = #{wechatId}
    </delete>

    <delete id="deleteWechatAccountByIds" parameterType="String">
        delete from wechat_account where wechat_id in 
        <foreach item="wechatId" collection="array" open="(" separator="," close=")">
            #{wechatId}
        </foreach>
    </delete>
    
</mapper>